
@using practhelpe.Models 

@model practhelpe.Models.Class1
@{
    ViewBag.Title = "formulario";
}

<h2>formulario</h2>

<form action="datos" method="post">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Persona</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.cedula, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cedula, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cedula, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.apellido, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.apellido, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.apellido, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.edad, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.edad, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.edad)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.correo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.genero, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Genero", new List<SelectListItem>
                    {
                    new SelectListItem{Text="Masculino", Value = "Masculino"},
                    new SelectListItem{Text="Femenino", Value = "Femenino"}},
             new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.estadoc, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.RadioButtonFor(model => model.estadoc, "Casado") Casado
                    @Html.RadioButtonFor(model => model.estadoc, "Soltero") Soltero
                    @Html.RadioButtonFor(model => model.estadoc, "Viudo") Viudo
                    @Html.RadioButtonFor(model => model.estadoc, "Unión Libre") Union Libre
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.hobbys, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.CheckBox("hobbys", false, new { @value = "programar" })
                    Programar
                    @Html.CheckBox("hobbys", false, new { @value = "Leer" })
                    Leer
                    @Html.CheckBox("hobbys", false, new { @value = "comer" })
                    Comer
                    @Html.CheckBox("hobbys", false, new { @value = "Dormir" })
                    Dormir
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">

                    <input type="submit" value="Enviar">

                  </div>
            </div>
        </div>
    }
</form>
